%li.phrase{:data => { :tags => phrase.categories }}
  .native
    %span= phrase.phrase
    = form_tag phrase_path(phrase), method: 'put', :remote => true do
      = text_field_tag 'phrase[phrase]', phrase.phrase
  .icons
    - if phrase.translations.empty?
      %img.note{ :src => '/assets/note.gif', :title => 'No translations!' }
    = link_to phrase, method: :delete, remote: :true do
      %img.delete{ :src => '/assets/close.gif' }
  %ul.translations
    - phrase.translations.each do |t|
      = render :partial => 'phrases/translation_listing',
               :locals => { :translation => t }
    = form_tag phrase_translations_path(phrase),
          :remote => true,
          :class => 'new_translation' do
      - l_id = phrase.language.id == 1 ? 2 : 1 # Dirty dirty hack
      = hidden_field_tag 'translation[language_id]', l_id
      = text_field_tag 'translation[phrase]', '',
            :placeholder => 'new translation'
      %button
        %img{ :src => '/assets/add.gif' }
